<!DOCTYPE html>

<html ng-app="adminApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My ASP.NET Admin</title>
    @Styles.Render("~/Content/Admin/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <toast></toast>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AngularJS Admin</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Admin/angular")
    @Scripts.Render("~/bundles/Admin/misc")
    @Scripts.Render("~/bundles/Admin/app")
    @RenderSection("scripts", required: false)
</body>
</html>
