<!DOCTYPE html>

<html ng-app="adminApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My ASP.NET Admin</title>
    @Styles.Render("~/Content/Admin/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div login-modal="loginDialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h3>Login</h3></div>
                <form name="loginForm" ng-controller="loginController" ng-submit="login()" novalidate role="form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="userName">Username:</label>
                            <input type="text" id="userName" class="form-control"
                                   ng-model="credentials.userName">
                        </div>

                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" class="form-control"
                                   ng-model="credentials.password">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </form>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal.dialog -->
    </div>

    <toast></toast>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AngularJS Admin</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Admin/angular")
    @Scripts.Render("~/bundles/Admin/misc")
    @Scripts.Render("~/bundles/Admin/app")
    @RenderSection("scripts", required: false)
</body>
</html>
